/* Extra styles when the route is active */
.nav-link--active {
    /* font-weight: 600;         semibold */
    text-decoration: underline;
}

.nav-link { margin: 0 0.75rem; }

.header{ max-width: var(--max-width); margin: 0 auto;
}

.header {
    text-align: center;
    padding: 2rem 0 2rem;
}

.site-title { font-weight: bold;  font-family: var(--font-headings);
    margin: 0; font-size: 2.55rem; }

nav { margin-top: 0 !important;
font-size: 1.2rem;
}

.nav-link { margin: 0 0.55rem; }



@media (max-width: 1280px) {
    nav {
        font-size: 1rem;
    }
    body{
        overflow-x: hidden;
    }
}
