

.interactive-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0545a5;
    overflow: hidden;
}

.bg-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    pointer-events: none;
    filter: blur(10px);
    transform: scale(1.05);
    z-index: -2;
}

.bg-grid div {
    background: #f8f9fa;
    transition: background 800ms linear;
}

.bg-grid div.hovered {
    background: rgba(5, 69, 165, 0.37);
}

.bg-grid div.hovered-fast-trans {
    transition: background 100ms linear;
}

.bg-grid div.clicked {
    background: var(--click-bg);
    transition: background 10ms linear;
}
